name: Backlog Notifier

on:
  push: 
    tags:
      - '*'

jobs:
  notify-backlog:
    runs-on: ubuntu-latest
    
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Checkout
      uses: actions/checkout@v3
    - uses: blackjacx/backlog-notifier@fix-elmiras-issue
      with:
        repo-references: |
          {
            "data": [
              {"repo_id": "BACKLOG", "repo_name": "backlog"},
              {"repo_id": "GHTEST", "repo_name": "ghtest"}
            ]
          }
      env:
        GITHUB_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
